<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e9a0f1b7e5.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>
  <body class="body-bg align-items-center align-content-center">
    <header class="row b-2 border border-2 mb-4 rounded ">
      <div class="col-sm-2">
        <a href="/"><img id="logo" src="/imgs/logoAUP.png" alt="Icono de Página" width="90"
            class="d-flex align-content-center justify-content-center mb-1 ">
        </a>
      </div>
  
      <div class="col-sm-8 text-center">
        <h1 id="Titulo" class="textoCabecera d-flex align-items-center justify-content-center mt-3">
          <%= title %>      
        </h1>
      </div>
    </header>
    
    <div class="bg-light m-auto pt-3 row container-fluid">
      <div class="col-md-3 col-12">
        <input type="text" id="buscador" class="form-control input-border" placeholder="Introduce un parámetro de búsqueda">
      </div>
      <div class="col-md-2 col-12">
        <button id="Buscar" class="btn btn-primary">Buscar profesor <i class="fa-solid fa-magnifying-glass"></i></button>
      </div>

      <!-- prueba de modal de registro-->
      <%- include('registro.ejs') %>
      
      <div class="py-5">
        <ul id="lista">
  
        </ul>
      </div>
    </div>

    <div class="modal fade" id="RealizarSolicitur" data-bs-backdrop="static">
      <!-- data-bs impide que se cierre al pulsar fuera del modal -->
      <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">

              <!-- cabecera del diálogo -->
              <div class="modal-header">
                  <h4 class="modal-title text-center w-100">Formulario de solicitud de servicios</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <!-- cuerpo del diálogo -->
              <div class="modal-body alert alert-secondary">
                  <div class="container-fluid">

                      <!--Form lleva a /reservar y le pasa el id en la url-->
                      <form id="reservaForm">

                          <div class="mb-3 row">
                              <label for="TelefonoSolicitarServicio"
                                  class="col-sm-3 col-form-label ">Telefono:</label>
                              <div class="col-sm-9">
                                  <input type="text" class="form-control" id="TelefonoSolicitarServicio"
                                      name="correo" placeholder="TLF: 696 87 24 32">
                              </div>
                          </div>

                          <div class="mb-3 row">
                              <label class="control-label col-sm-3 "
                                  for="fechaServicio">Fecha:</label>
                              <div class="col-sm-9">
                                  <input type="date" id="fechaServicio" name="fecha"
                                      class="form-control" required>
                              </div>
                          </div>

                          <div class="mb-3 row">
                              <label for="horaInicioServicio" class="col-md-2 col-form-label">Hora
                                  Inicio:</label>
                              <div class="col-md-4">
                                  <input type="time" class="form-control" id="horaInicioServicio"
                                      name="horaInicioServicio" required>
                              </div>
                              <label for="horaFinServicio"
                                  class="col-md-2 col-form-label text-center">Hora
                                  Fin:</label>
                              <div class="col-md-4">
                                  <input type="time" class="form-control" id="horaFinServicio"
                                      name="horaFinServicio" required>
                              </div>
                          </div>

                          <div class="mb-3 row">
                              <div class="offset-sm-3 col-sm-9">
                                  <button type="submit" class="btn "
                                      id="confirmarReserva">Confirmar</button>
                                  <button type="button" class="btn "
                                      data-bs-dismiss="modal">Cancelar</button>
                              </div>
                          </div>

                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <script src="/javascript/index.js"></script>
  </body>
</html>