<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registroModal">
    Registrar
</button>

<!-- Modal -->
<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-header-bg">
                <h5 class="modal-title" id="registroModalLabel">Registro de Profesor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body body-bg">
                <form id="registroForm" action="/users/Profesorsignup" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de Profesor:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos del Profesor:</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electr칩nico:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="materia" class="form-label">Materias:</label>
                        <textarea class="form-control" id="materia" name="materia" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="rangos" class="form-label">Rangos:</label>
                        <input type="text" class="form-control" id="rangos" name="rangos" required>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Descripci칩n:</label>
                        <input type="text" class="form-control" id="desc" name="desc" maxlength="200">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contrase침a:</label>
                        <input type="password" class="form-control" id="password" name="password" minlength="8"
                            maxlength="24" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Repetir Contrase침a:</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                            required>
                        <div id="confirm_password_error" style="color: rgb(248, 131, 131);"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/signup.js"></script>
