<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e9a0f1b7e5.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Solicitudes</title>
</head>
<body>
    <body class="body-bg align-items-center align-content-center">
        <div class="col-sm-15 text-center">
            <h1 id="Titulo" class="textoCabecera d-flex align-items-center justify-content-center mt-3">
              Solicitudes    
            </h1><hr>
        </div>
        <p class="font-weight-light text-left mt-3">Tus solicitudes pendientes:</p>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <!-- estos son ejemplos, luego se cambiarámn por las solicitudes reales -->
                    <div class="card d-inline-block m-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Solicitud 1</h5><br>
                            <button type="button" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary">Denegar</button>
                        </div>
                    </div>
                    <div class="card d-inline-block m-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Solicitud 2</h5><br>
                            <button type="button" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary">Denegar</button>
                        </div>
                    </div>
                    <div class="card d-inline-block m-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Solicitud 3</h5><br>
                            <button type="button" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary">Denegar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</body>
</html>